#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

&lt {
  quick-tap-ms = <150>;
};

/ {

    keymap {
        compatible = "zmk,keymap";
        base {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮        ╭──────────┬──────────┬──────────┬──────────┬──────────╮──────────╮──────────╮──────────╮
        //│     ESC  │   ^      │  1       │  2       │  3       │  4       │  5       │        │  6       │  7       │  8       │  9       │  0       │  ß       │     ´          
             &kp ESC   &kp GRAV   &kp N1      &kp N2    &kp N3   &kp N4        &kp N5               &kp N6    &kp N7   &kp N8       &kp N9    &kp N0    &kp MINUS &kp EQL     &kp DEL 
        //┼──────────┼──────────├──────────┼──────────┼──────────┼──────────┼──────────┤        ├──────────┼──────────┼──────────┼──────────┼──────────┤──────────┤──────────┤──────────┤
        //│     w    │   TAB    │  Q       │  W       │  E       │  R       │  T       │        │  Z       │  U       │  I       │  O       │  P       │  Ü       │  +       │    w     │
            &kp W      &kp TAB      &kp Q   &kp W       &kp E       &kp R       &kp T               &kp Y       &kp U      &kp I    &kp O       &kp P     &kp LBKT   &kp RBKT  &kp W
        //┼──────────┼──────────├──────────┼──────────┼──────────┼──────────┼──────────┤        ├──────────┼──────────┼──────────┼──────────┼──────────┤──────────┤──────────┤──────────┤
        //│     w    │     w    │  A       │  S       │  D       │  F       │  G       │        │  H       │  J       │  K       │  L       │ ö        │ ä        │ #        │ up       │
            &kp W       &kp W       &kp A   &kp S       &kp D       &kp F       &kp G               &kp H       &kp J   &kp K       &kp L     &kp SEMI   &kp QUOT   &kp NUHS    &kp UP 
        //┼──────────┼──────────├──────────┼──────────┼──────────┼──────────┼──────────┤        ├──────────┼──────────┼──────────┼──────────┼──────────┤──────────┤──────────┤──────────┤──────────┤
        //│    FN1   │     <    │  Y       │  X       │  C       │  V       │  B       │       │  N       │  M       │ ,        │ .        │ -         │    FN    │ left     |   down   | right    |
           &mo 1        &kp NUBS   &kp Z    &kp X       &kp C       &kp V       &kp B               &kp N    &kp M     &kp CMMA     &kp DOT    &kp FSLH  &mo 1       &kp LEFT  &kp DOWN     &kp RIGHT
        //╰──────────┴──────────┴──────────┴──────────┴──────────┼──────────┼──────────┤        ├──────────┼──────────┼──────────┴──────────┴──────────╯──────────╯──────────╯──────────╯──────────╯
        //                                                 shift    space //TAB CNTRL              WIN   bspace     enter(FN)                   
                                                        &kp LSFT    &kp SPC    &kp LCTL       &kp LWIN   &kp BSPC    &lt 2 ENTER   
        //                                             ╰──────────┴─────────┴──────────╯        ╰──────────┴─────────┴──────────╯
            >;
        };   


        lower {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮        ╭──────────┬──────────┬──────────┬──────────┬──────────╮──────────╮──────────╮──────────╮
        //│          │          │   F1     │ F2       │  F3      │    F4    │   F5     │        │   F6     │  F7      │ F8       │   F9     │ F10      │F11       │ F12           
           &trans        &trans   &kp F1     &kp F2    &kp F3      &kp F4       &kp F5            &kp F6    &kp F7      &kp F8       &kp F9    &kp F10    &kp F11    &kp F12     &mo 3
        //┼──────────┼──────────├──────────┼──────────┼──────────┼──────────┼──────────┤        ├──────────┼──────────┼──────────┼──────────┼──────────┤──────────┤──────────┤──────────┤
        //│          │          │          │          │          │          │          │        │          │          │          │          │          │          │          │          │
            &bt BT_CLR   &bt BT_PRV  &bt BT_NXT   &trans       &trans     &trans       &trans           &trans       &trans      &trans    &trans       &trans     &trans   &trans  &trans
        //┼──────────┼──────────├──────────┼──────────┼──────────┼──────────┼──────────┤        ├──────────┼──────────┼──────────┼──────────┼──────────┤──────────┤──────────┤──────────┤
        //│          │          │          │          │          │          │          │        │          │          │          │          │          │          │          │   pup    │
            &mo 3       &trans    &trans   &trans       &trans       &trans    &trans            &trans     &trans     &trans       &trans     &trans    &trans    &trans      &kp PGUP 
        //┼──────────┼──────────├──────────┼──────────┼──────────┼──────────┼──────────┤        ├──────────┼──────────┼──────────┼──────────┼──────────┤──────────┤──────────┤──────────┤──────────┤
        //│          │          │          │          │          │          │          │        │          │          │          │          │          │          │ pos1     |  pdown   | end      |
            &trans       &trans   &trans    &trans       &trans       &trans       &trans               &trans    &trans     &trans     &trans    &trans  &trans     &kp HOME  &kp PGDN     &kp END
        //╰──────────┴──────────┴──────────┴──────────┴──────────┼──────────┼──────────┤        ├──────────┼──────────┼──────────┴──────────┴──────────╯──────────╯──────────╯──────────╯──────────╯
        //                                                                           
                                                        &trans     &trans     &trans                &trans   &trans    &trans   
        //                                             ╰──────────┴─────────┴──────────╯        ╰──────────┴─────────┴──────────╯
            >;
        };  


        thumb {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮        ╭──────────┬──────────┬──────────┬──────────┬──────────╮──────────╮──────────╮──────────╮
        //│          │          │          │          │          │          │          │        │          │          │          │          │          │          │             
           &trans        &trans   &trans     &trans    &trans     &trans        &trans             &trans    &trans   &trans       &trans    &trans    &trans       &trans      &trans
        //┼──────────┼──────────├──────────┼──────────┼──────────┼──────────┼──────────┤        ├──────────┼──────────┼──────────┼──────────┼──────────┤──────────┤──────────┤──────────┤
        //│          │          │          │          │          │          │          │        │          │          │          │          │          │          │          │          │
            &trans      &trans      &trans   &trans       &trans     &trans       &trans           &kp HOME   &kp PGDN   &kp PGUP  &kp END   &trans     &trans   &trans      &trans
        //┼──────────┼──────────├──────────┼──────────┼──────────┼──────────┼──────────┤        ├──────────┼──────────┼──────────┼──────────┼──────────┤──────────┤──────────┤──────────┤
        //│          │          │          │          │          │          │          │        │  left     │ down    │  up      │   right  │          │          │          │       │
            &trans       &trans    &trans   &trans       &trans       &trans    &trans            &kp LEFT   &kp DOWN   &kp UP     &kp RIGHT    &trans    &trans    &trans      &trans 
        //┼──────────┼──────────├──────────┼──────────┼──────────┼──────────┼──────────┤        ├──────────┼──────────┼──────────┼──────────┼──────────┤──────────┤──────────┤──────────┤──────────┤
        //│          │          │          │          │          │          │          │        │          │          │          │          │          │          │          |         |       |
            &trans       &trans   &trans    &trans       &trans       &trans       &trans           &trans    &trans     &trans     &trans    &trans  &trans       &trans      &trans     &trans
        //╰──────────┴──────────┴──────────┴──────────┴──────────┼──────────┼──────────┤        ├──────────┼──────────┼──────────┴──────────┴──────────╯──────────╯──────────╯──────────╯──────────╯
        //                                                                           
                                                        &kp RALT     &kp TAB     &kp LALT             &trans   &trans    &trans   
        //                                             ╰──────────┴─────────┴──────────╯        ╰──────────┴─────────┴──────────╯
            >;
        }; 

        bootloader {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮        ╭──────────┬──────────┬──────────┬──────────┬──────────╮──────────╮──────────╮──────────╮
        //│          │          │          │          │          │          │          │        │          │          │          │          │          │          │             
           &bootloader   &none   &none     &none    &none         &none        &none             &none    &none   &none       &none    &none          &none          &bootloader   &trans
        //┼──────────┼──────────├──────────┼──────────┼──────────┼──────────┼──────────┤        ├──────────┼──────────┼──────────┼──────────┼──────────┤──────────┤──────────┤──────────┤
        //│          │          │          │          │          │          │          │        │          │          │          │          │          │          │          │          │
            &none      &none          &none     &none       &none     &none       &none           &none       &none      &none    &none       &none     &none       &none  &none
        //┼──────────┼──────────├──────────┼──────────┼──────────┼──────────┼──────────┤        ├──────────┼──────────┼──────────┼──────────┼──────────┤──────────┤──────────┤──────────┤
        //│          │          │          │          │          │          │          │        │          │          │          │          │          │          │          │       │
            &none       &none    &none        &none       &none       &none    &none                &none     &none   &none       &none     &none          &none    &none      &none 
        //┼──────────┼──────────├──────────┼──────────┼──────────┼──────────┼──────────┤        ├──────────┼──────────┼──────────┼──────────┼──────────┤──────────┤──────────┤──────────┤──────────┤
        //│          │          │          │          │          │          │          │        │          │          │          │          │          │          │            |     |       |
            &none       &none     &none      &none       &none       &none       &none               &none    &none     &none     &none        &none     &none       &none  &none     &none
        //╰──────────┴──────────┴──────────┴──────────┴──────────┼──────────┼──────────┤        ├──────────┼──────────┼──────────┴──────────┴──────────╯──────────╯──────────╯──────────╯──────────╯
        //                                                                           
                                                        &none     &none     &none                &none        &none    &none   
        //                                             ╰──────────┴─────────┴──────────╯        ╰──────────┴─────────┴──────────╯
            >;
        }; 

    };

 }; 

 /*
       NAME {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮        ╭──────────┬──────────┬──────────┬──────────┬──────────╮──────────╮──────────╮──────────╮
        //│          │          │          │          │          │          │          │        │          │          │          │          │          │          │             
           &trans        &trans   &trans     &trans    &trans     &trans        &trans             &trans    &trans   &trans       &trans    &trans    &trans       &trans      &trans
        //┼──────────┼──────────├──────────┼──────────┼──────────┼──────────┼──────────┤        ├──────────┼──────────┼──────────┼──────────┼──────────┤──────────┤──────────┤──────────┤
        //│          │          │          │          │          │          │          │        │          │          │          │          │          │          │          │          │
            &trans      &trans      &trans   &trans       &trans     &trans       &trans           &trans       &trans      &trans    &trans       &trans     &trans   &trans  &trans
        //┼──────────┼──────────├──────────┼──────────┼──────────┼──────────┼──────────┤        ├──────────┼──────────┼──────────┼──────────┼──────────┤──────────┤──────────┤──────────┤
        //│          │          │          │          │          │          │          │        │          │          │          │          │          │          │          │   pup    │
            &trans       &trans    &trans   &trans       &trans       &trans    &trans            &trans     &trans   &trans       &trans     &trans    &trans    &trans      &trans 
        //┼──────────┼──────────├──────────┼──────────┼──────────┼──────────┼──────────┤        ├──────────┼──────────┼──────────┼──────────┼──────────┤──────────┤──────────┤──────────┤──────────┤
        //│          │          │          │          │          │          │          │        │          │          │          │          │          │          │ pos1     |  pdown   | end      |
            &trans       &trans   &trans    &trans       &trans       &trans       &trans               &trans    &trans     &trans     &trans    &trans  &trans       &trans  &trans     &trans
        //╰──────────┴──────────┴──────────┴──────────┴──────────┼──────────┼──────────┤        ├──────────┼──────────┼──────────┴──────────┴──────────╯──────────╯──────────╯──────────╯──────────╯
        //                                                                           
                                                        &trans     &trans     &trans                &trans   &trans    &trans   
        //                                             ╰──────────┴─────────┴──────────╯        ╰──────────┴─────────┴──────────╯
            >;
        }; 
 */
